PORT=3000

DB_USER=postgres
DB_PASSWORD=sua_senha
DB_HOST=localhost
DB_PORT=5432
DB_NAME=agendamento_debora

JWT_SECRET=troque_por_uma_chave_aleatoria_longa

# URL correta para o sistema em produção
FRONTEND_URL=https://tcc-sistema-agendamento.onrender.com

# Chave do Resend para envio de e-mails via API (Porta 443 - Liberada no Render)
RESEND_API_KEY=re_fZTyM2Fm_PZ53xbBQtXDxLngwxHPUQA7M